{% extends 'base.html.twig' %}

 {% block stylesheets %}
<style>
h3 {
    color: white;
}
.fade-in{
animation: fadeIn 2s;
}

@keyframes fadeIn {
from{
opacity: 0;
}
to {
opacity: 1;
}
}
.fade-in1{
animation: fadeIn1 4s;
}

@keyframes fadeIn1 {
from{
opacity: 0;
}
to {
opacity: 1;
}
}
.fade-in2{
animation: fadeIn2 8s;
}

@keyframes fadeIn2 {
from{
opacity: 0;
}
to {
opacity: 1;
}
}
.fade-in3{
animation: fadeIn3 20s;
}

@keyframes fadeIn3 {
from{
opacity: 0;
}
to {
opacity: 1;
}
}
</style>
{% endblock %}

{% block body %}


<h1 class="fade-in">
<strong>
Définition:
</strong>
</h1>

<br>


<h3 class="fade-in1">
{{def|striptags|raw|trim|convert_encoding('UTF-8', 'HTML-ENTITIES')|nl2br}}

</h3>

<br>



<h1 class="fade-in2">
<strong>
les associations:
</strong>
</h1>

<br>



<h3 class="fade-in3">
{{asso|striptags|raw|trim|convert_encoding('UTF-8', 'HTML-ENTITIES')|nl2br}}
</h3>



{% endblock %}





















